# Copy this file and save as .env.local. All variables mentioned here may override the ones
# mentioned in .env.dev (which is auto generated on boot).
# All lines prefixed with '#' or '--' are treated as comments and ignored.
# Important: Prefix all env variables with one of the namespaces in ['NODE', 'N',
# 'Q_<service_name>', 'Q', 'QUIZIZZ'] (in decreasing order of precendence).
# Default namespace is 'Q'. <service_name> depends on the current service.

# Can be accessed in config as config.example.key === 'value' AND config.example_key === 'value'
NODE_EXAMPLE_KEY=value
